html
  head
    title= title
    script(src="bundle.js")
    style
      include ./main.css

  body
    nav 
      h1 Say Something
      h3 chat room name

    main
      section(class="message-section") wfwefwefewfwefwef efwef wef we fwe wfwefwefewfwefwef efwef wef we fwe wfwefwefewfwefwef efwef wef we fwe 

    footer
      section(class="send-section")
        input(type="text" class="input-message") 
        button(class="btn-send") send
      section(class="join-room-section")
        input(type="text" class="input-room" placeholder="Enter room address") 
        button(class="btn-join") join