html
  head
    title= title
    script(src="main.js")
    style
      include ./main.css
    
    
  body
    h1 this is a message
    a(href='//google.com') Google
    |
    |
    a(class='button' href='//google.com') Google
    |
    |
    a(class='button', href='//google.com') Google