html
  head
    title= title
    script(src="bundle.js")
    style
      include ./main.css

  body
    nav 
      h1 Say Something
      h3 chat room name

    main
      section(class="message-section") wfwefwefewfwefwef efwef wef we fwe wfwefwefewfwefwef efwef wef we fwe wfwefwefewfwefwef efwef wef we fwe 

    footer(class="send-section") 
      input(type="text" class="input-message") 
      button(class="btn-send") send